* {
  border: 1px solid black;
}

[class*="col-"] {
  min-height: 100px;
  background-color: pink;
}

/* Header */
.blue {
  background-color: darkslategrey;
}

/* Main */
.lblue {
  background-color: mediumaquamarine;
  color: white;
}

/* Footer */
footer .container-fluid:first-child {
  background-color: slategrey;
}
