* {
  border: 1px solid black;
}

[class*="col-"] {
  min-height: 100px;
}

/* Header */
header .row {
  background-color: darkslategrey;
}

/* Main */
.lblue {
  background-color: mediumaquamarine;
  color: white;
}

/* Footer */
footer .row:first-child {
  background-color: slategrey;
}

footer .row:last-child {
  background-color: darkslategrey;
}
