/* General rules */
* {
  /* border: 1px solid black; */
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

[class*="col-"] {
  min-height: 10px;
}

/* Header */
.blue {
  background-color: darkslategrey;
}

  header a {
    color: white;
  }

  #logo {
    font-size: 20px;
    font-weight: bold;
  }

/* Main */
.lblue {
  background-color: mediumaquamarine;
  color: white;
}

  /* Start bootstrap */
  #jumbo {
    text-align: center;
  }

  .imgbox {
    height: auto;
  }

  /* Portfolio */

    /* Coloured squares */
    .c_square {
      height: auto;
      margin-bottom: 30px;
    }

      .c_square > img{
        max-width: 100%;
        border-radius: 10px;
      }
  /* About */


/* Footer */
footer {
  text-align: center;
  color: white;
}

footer .container-fluid:first-child {
  background-color: slategrey;
}
